.bgImg{
    background-image: url(../../assets/book/brooke.jpg);
}

.parallax-image {
    /* ... your other styles ... */
    position: relative; /* Add relative positioning to the parallax image container */
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(2, 22, 43, 0.5); /* Set your desired color and opacity here */
    z-index: -1; /* Place the overlay behind the image */
  }