/* Footer container */
.footer {
  background-color: #5a5858;
  color: #fff;
  padding: 40px 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}
.text-center {
  text-align: center;
}

.column {
  flex-basis: 100%;
  padding: 0 10px;
  margin-bottom: 20px;
}

/* Footer headers */
.header {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #fff;
}

/* Footer paragraphs */
.paragraph {
  font-size: 14px;
  line-height: 1.6;
  color: #ccc;
}

/* Footer contact info and links */
.contact-info li,
.social-media li {
  list-style: none;
  margin-bottom: 8px;
}

.contact-info li i {
  margin-right: 8px;
}

.social-media li a {
  color: #ccc;
  text-decoration: none;
}

.social-media li a:hover {
  color: #fff;
}

/* Footer copyright section */

.footer-bottom {
  background-color: #111;
  padding: 20px 0;
}

.footer-bottom p {
  margin: 0;
  color: #ccc;
  text-align: center;
}

/* Media queries for responsiveness */
@media (min-width: 768px) {
  .column {
    flex-basis: 48%;
  }
}

@media (min-width: 1024px) {
  .column {
    flex-basis: 24%;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
