@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Public Sans', sans-serif;

}
@layer components{
    .container{
        @apply max-w-screen-xl mx-auto  w-full px-5
    }
    .footer_title{
        @apply text-[20px] md:text-[22px] lg:text-[24px] text-[#4e5050] font-bold lg:mb-4 mt-4 mb-2
    }
    .footer_small_title{
        @apply lg:text-[20px] text-[18px]  text-[#575757] 
    }
}