@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    @apply max-w-screen-xl mx-auto w-full px-5;
  }
}

.active {
  color: #00bdca;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Public Sans", sans-serif;
}
